.navbar-brand { 
    color: $colour-secoundary;
    font-size: 30px;
    margin: 0 8%;
    font-family: $font-secoundary;
    font-style: italic;}
.bg-light{
 background-color: lighten($colour-primary, 5%) !important;}
.nav-link {
    color:$colour-text-primary;
    font-weight:400;
    font-size: 20px;
    margin-right: 10px;
    padding: 20px;}
a.active {
    background-color: white;}
.d-flex{
    margin-right: 10%;}
    .container-fluid{
       padding: 0;}