$colour-primary: #ded8d8;
$colour-secoundary: #e61a9b;
$colour-inputs: #f6f0f0; 
$colour-text-imputs: #676060;
$colour-text-primary: #1f1c1c;
$font-primary: 'Roboto', sans-serif;
$font-secoundary: 'Lato', sans-serif;